/* Fonts 
----------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:600,700&display=swap');

/* Global styles
----------------------------------------------*/
body {
  font-family: 'Poppins', sans-serif;
  font-size: 100%;
  color: #303030;
}
h1 {
  font-family: 'Cormorant Garamond', serif;
  color: #ffff;
}

/* Header
----------------------------------------------*/
header {
  padding: 156px 0 100px;
  background-image: url("../img/background-slider.jpg");
  background-color: #cccccc;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.text-center {
  margin-top: 15%;
}
section {
  padding: 150px 0;
}
