/* Fonts 
----------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,500i,600,700,700i&display=swap');

/* Global styles
----------------------------------------------*/
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    font-weight: 300;
    line-height: 30px;
    color: #646464;
    min-width: 400px;
}

h1 {
    font-family: 'Cormorant Garamond', serif;
    color: #ffff;
    font-weight: 700;
    font-size: 106px;
    font-style: italic;
    text-transform: capitalize;
}

@media screen and (max-width: "600px") {
    h1{
    font-size: 20wv;
    }
}

h2 {
    font-family: 'Cormorant Garamond', serif;
    color: #303030;
    font-weight: 500;
    font-size: 45px;
    font-style: italic;
    text-transform: capitalize;
}

h3 {
    font-family: 'Cormorant Garamond', serif;
    color: #303030;
    font-weight: 500;
    font-size: 40px;
    font-style: italic;
    text-transform: capitalize;
}

strong {
    color: #3b6d8d;
}

p {
    font-size: 15px;
}

.btn-outline-secondary {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
    font-size: 20px;
    font-style: italic;
    color: #3b6d8d;
    border: solid 1px #3b6d8d;
    width: 32%;
    transition: all .4s ease-out;
    width: auto;
}

.btn-outline-secondary:hover {
    color: #fff;
    background-color: #3b6d8d;
    border: solid 1px #3b6d8d;
    transition: all .4s ease-in;
    width: auto;
}

section {
    padding: 120px 0;
}

/* Navigation
----------------------------------------------*/
.nav-item {
    margin-right: 30px;
}

.scroll {
    background-color: #A1572F;
    color: #eef;
}

.navbar {
    transition: 500ms ease;
    background: transparent;
}

/* add nav background color on scroll */
.navbar-expand-lg.scrolled {
    background: rgba(59, 109, 140, 0.781);

}

.navbar-toggler {
    width: 64px;
}

/* Header
----------------------------------------------*/
header {
    padding: 156px 0 100px;
    background-image: url("../img/background-slider.jpg");
    background-color: #cccccc;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-center {
    margin-top: 6%;
}

.text-center img {
    margin-bottom: -55px;
}

/* Moving arrow */
img.vert-move {
    -webkit-animation: mover 1s infinite alternate;
    animation: mover 1s infinite alternate;
}

img.vert-move {
    -webkit-animation: mover 1s infinite alternate;
    animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}


/* About
----------------------------------------------*/
#about {
    background-image: url("../img/Always-fresh2.jpg");
    background-color: #ef4849;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Slogan
----------------------------------------------*/
.overlay {
    background-color: #3030303b;
}

#slogan {
    background-image: url("../img/buddha.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#slogan h2 {
    font-family: 'Cormorant Garamond', serif;
    color: #ffff;
    font-weight: 600;
    font-style: italic;
    text-transform: lowercase;
}

#slogan .text-center {
    margin-top: 2%;
}


/* Menu
----------------------------------------------*/
#menu-intro {
    background-image: url("../img/background-tulip.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#menu {
    background-image: url("../img/bowls-of-food.png");
    background-color: #ffff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Menu Tabs */
.nav-link.active a {
    font-family: 'Montserrat', sans-serif;
    color: #3b6d8d;
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    transition: all .2s ease-in;
}

li a {
    font-family: 'Montserrat', sans-serif;
    color: #3b6d8d;
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    transition: all .2s ease-in;
}

li a:hover {
    text-decoration: none;
    color: #d8c589;
}

.nav-tabs .nav-link.active {
    color: #d8c589;
    background-color: rgba(255, 255, 255, 0);
    border-color: #dee2e600 #dee2e600 rgba(255, 255, 255, 0);
}


/* Menu Items
----------------------------------------------*/
.text-center img.card-img-top {
    margin-bottom: 0px;
}

.modal-body img {
  margin-bottom: 20px;
}

.card .btn {
    width: 100%;
}

.modal-title {
  width: 100%;
}

h4 {
    font-family: 'Cormorant Garamond', serif;
    color: #303030;
    font-weight: 600;
    font-size: 30px;
}


/* News 
----------------------------------------------*/
.post {
    position: relative;
    display: grid;
    justify-content: center;
    grid-template-areas: "a";
    margin-bottom: 6%;
}
#news .text-center {
    margin-top: 0;
}
.like {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0;
    z-index: 1;
    background: rgba(59, 109, 140, 0.75);
    grid-area: a;
    -webkit-clip-path: circle(0% at 50% 50%);
    clip-path: circle(0% at 50% 50%);
    transition: all .3s ease-in-out;
    opacity: 0;
    color: #ffffffc9;
}

.like i {
    margin: 1rem;
    cursor: pointer;
}

.postImg {
    grid-area: a;
    width: 100%;
    flex: 0 0;
}

.postImg img {
    width: 100%;
}

.post:hover .like {
    -webkit-clip-path: circle(100.0% at 50% 50%);
    clip-path: circle(100.0% at 50% 50%);
    opacity: 1;
}

#news .btn-outline-secondary {
    width: auto;
}

/* Contact form
-----------------------------------------------*/
#contact {
    background-image: url("../img/salad-banner.png");
    background-color: #ffff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#contact .container {
    background-color: #fff;
}
button {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
    font-size: 20px;
    font-style: italic;
    color: #3b6d8d;
    border: solid 1px #3b6d8d;
    width: 32%;
    transition: all .4s ease-out;
  }
  input, select, textarea {
    font-family: 'Montserrat', sans-serif;
    color: #5A5A5A;
  }
  input {
    line-height: normal;
  }
  
  textarea {
    overflow: auto;
  }
  
  #contact .container {
    position: relative;
  }
  
  form {
    padding: 37.5px;
    margin: 50px 0;
  }
  

  .email {
      float: right;
      width: 45%;
  }
  
  input[type='text'], [type='email'], select, textarea {
    background: none;
    border: none;
    border-bottom: solid 2px rgba(59, 109, 140, 0.54);
    color: #474544;
    font-size: 1.000em;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0em 0 1.875em 0;
    padding: 0 0 0.875em 0;
    text-transform: uppercase;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  input[type='text']:focus, [type='email']:focus, textarea:focus {
      outline: none;
      padding: 0 0 0.875em 0;
  }
  
  .message {
      float: none;
  }
  
  .name {
      float: left;
      width: 45%;
  }
  
  select {
    background: url('https://img.icons8.com/small/16/000000/expand-arrow.png') no-repeat right;
    outline: none;
    cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none;
  }
  
  select::-ms-expand {
    display: none;
  }
  
  .subject {
    width: 100%;
  }
  
  .telephone {
    width: 100%;
  }
  
  textarea {
      line-height: 150%;
      height: 150px;
      resize: none;
    width: 100%;
  }
  
  ::-webkit-input-placeholder {
      color: #474544;
  }
  
  :-moz-placeholder { 
      color: #474544;
      opacity: 1;
  }
  
  ::-moz-placeholder {
      color: #474544;
      opacity: 1;
  }
  
  :-ms-input-placeholder {
      color: #474544;
  }
  

/* Footer 
----------------------------------------------*/

.footer {
    background: #3b6d8d;
    color: #fff;
}

.footer h2,
.footer h4,
.footer p {
    color: #fff
}


.links ul {
    list-style-type: none;
}

.links li a, a {
    color: white;
    transition: color .2s;
    cursor: pointer;
}

.links li a:hover, a:hover {
    text-decoration: none;
    color: #d8c589;
    cursor: pointer;
}

.about-company i {
    font-size: 25px;
}

.about-company a {
    color: white;
    transition: color .2s;
}

.about-company a:hover {
    color: #4180CB
}

.location i {
    font-size: 18px;
}

.copyright p {
    border-top: 1px solid rgba(255, 255, 255, .1);
}

svg {
    fill: rgba(255, 255, 255, .5);
    transition: .3s all ease;
}

svg:hover {
    fill: rgba(255, 255, 255, 1);
}

.footer svg {
    fill: rgba(255, 255, 255, 1);
    transition: .3s all ease;
}

.footer svg:hover {
    fill: rgba(255, 255, 255, 0.5);
}
