/* Fonts 
----------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:600,700&display=swap');

/* Global styles
----------------------------------------------*/
body {
  font-family: 'Poppins', sans-serif;
  font-size: 100%;
  color: #303030;
}
h1 {
  font-family: 'Cormorant Garamond', serif;
  color: #ffff;
  font-size: 106px;
  text-transform: capitalize;
}

/* Navigation
----------------------------------------------*/
.nav-item {
  margin-right: 30px;
}
.scroll {
  background-color: #A1572F;
  color: #eef;
}
/* Header
----------------------------------------------*/
header {
  padding: 156px 0 100px;
  background-image: url("../img/background-slider.jpg");
  background-color: #cccccc;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.text-center {
  margin-top: 6%;
}
.text-center img {
  margin-bottom: -55px;
}
section {
  padding: 150px 0;
}
